<form class="form">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
   <h2 style="color: #de5dde; text-align: center;"> Contact Our</h2>
   <h2 style="text-align: center;">Customer Support Center</h2>
  </div>
  <div class="col-sm-4">
    <img src="/assets/Laptop.jpg" alt="laptop image">
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
      <div class="col-sm-4">
  <h4 style="font-weight: normal;">Contact Information</h4>
  <h6 style="font-weight: lighter;">Fill out your contact information below.</h6>
  </div>

</div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
    <label for="lblName">Name<span>*</span></label>
    </div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
    <div class="col-sm-3">
    <input type="text" class="form-control" id="txtFName" >
    <small id="fNameHelp" class="form-text text-muted">First Name</small>
    </div>
    <div class="col-sm-3">
    <input type="text" class="form-control" id="txtLName" >
    <small id="lNameHelp" class="form-text text-muted">Last Name</small>
    <div class="col-sm-2"></div>
  </div>
</div>
</div>

<div class="form-group"><br>
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <label for="lblEmail">Email<span>*</span></label>
      <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp">
    </div>
    <div class="col-sm-2"></div>
  </div>
  </div>

<div class="form-group">
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <label for="lblPhone">Phone<span>*</span></label>
    <input type="text" class="form-control" id="txtPhone" aria-describedby="phoneHelp">
  </div>
  <div class="col-sm-2"></div>
</div>
</div>

<div class="form-group">
    <div class="row">
      <div class="col-sm-2"></div>
   <div class="col-sm-8">
    <label for="lblAddress">Address<span>*</span></label>
    <input type="text" class="form-control" id="txtAddress" aria-describedby="addressHelp">
  </div>
  <div class="col-sm-2"></div>
  </div>
  </div>

  <div class="form-group">  <br>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
    <button type="submit" class="submitBtn">SUBMIT FORM</button>
    </div>
    <div class="col-sm-2"></div>
    </div>
  </div>

</form>

